.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.home-about-description {
  text-align: center; /* Center align heading and paragraph */
  margin-bottom: 20px;
}

.home-about-body {
  font-size: 1.2rem;
  margin-top: 20px;
  line-height: 1.7;
  color: #cfcfcf;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.tech-icons {
  font-size: 4em;
  margin: 15px;
  transition: color 0.3s ease;
  color: white; /* default color */
}

.tech-icons:hover {
  color: purple; /* on hover make it purple */
}
